<!DOCTYPE html>

<html lang="en" >
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			MyStore | Product
		</title>
		<meta name="description" content="User profile view and edit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
		<!--end::Web font -->
        <!--begin::Base Styles -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/css/css-home.css">
		<link href="/stylesheets/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/assets/demo/demo9/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/css4.css">
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/stylesheets/assets/demo/demo9/media/img/logo/4.ico" />
		<style type="text/css">
		.fbuy > input.buy{
                  
                   background-color: #957be2;
                   border:none;
                   color: white;
                   border-radius: 6px;
                   font-size: 15px;
                   
			}
			.fbuy > input.buy:hover{
                  
                   background-color: #734CEA;
                   border:none;
                   color: white;
                   border-radius: 6px;
                   font-size: 15px;
                   
			}


			.m-content ->.row p.banner-btn{
	background-color: transparent;
   color:#734CEA; 
   font-size: 11px;
   float: center; 
   display:block;
   margin:0 auto;
   width:70px;
   margin-top: 16px;
   border:solid 1px  #734CEA;
   border-radius: 100px;
   font-style: bolder; 
	
}
.row p.banner-btn:hover{
	background-color: #734CEA;
	color: #734CEA;
	
}
			
		</style>
	</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body class="m--skin- m-content--skin-light m-header--fixed m-header--fixed-mobile m-aside-left--offcanvas-default m-aside-left--enabled m-aside-left--fixed m-aside-left--skin-dark m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<header class="m-grid__item    m-header ">
				<div class="m-container m-container--fluid m-container--full-height">
					<div class="m-stack m-stack--ver m-stack--desktop  m-header__wrapper">
						<!-- BEGIN: Brand -->
						<div class="m-stack__item m-stack__item--middle m-stack__item--left">
							<!-- BEGIN: Brand -->
							<a href="file:///C:/Users/DELL/Desktop/mystore/home.html" class="m-brand m-brand--desktop" style="text-decoration:none">	
                                 <p class="logo" style=" font-size: 24px;
	                                                     font-family: Great Day Personal Use;
	                                                     font-style: bolder;
	                                                     margin-top: 1em;
	                                                     margin-left: 0em;
	                                                     color: #734CEA">MyStore</p>
							</a>
							<!-- END: Brand -->
						</div>
						<div class="m-stack__item m-brand m-brand--mobile">
							<div class="m-stack m-stack--ver m-stack--general">
								<div class="m-stack__item m-stack__item--middle m-brand__logo">
									<a href="home.html" class="m-brand__logo-wrapper" style="text-decoration:none">
										<p class="logo" style=" font-size: 24px;
	                                                     font-family: Great Day Personal Use;
	                                                     font-style: bolder;
	                                                     margin-top: 1em;
	                                                     margin-left: 0em;
	                                                     color: #734CEA;">MyStore</p>
									</a>
								</div>
								<div class="m-stack__item m-stack__item--middle m-brand__tools">
									<!-- BEGIN: Responsive Aside Left Menu Toggler -->
									<a href="javascript:;" id="" class="m-brand__icon m-brand__toggler m-brand__toggler--left   m_aside_left_toggler">
										<span></span>
									</a>
									<!-- END -->
							<!-- BEGIN: Responsive Header Menu Toggler -->
									<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler">
										<span></span>
									</a>
									<!-- END -->
			<!-- BEGIN: Topbar Toggler -->
									<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon">
										<i class="flaticon-more"></i>
									</a>
									<!-- BEGIN: Topbar Toggler -->
								</div>
							</div>
						</div>
						<!-- END: Brand -->
						<div class="m-stack__item m-stack__item--middle m-stack__item--left m-header-head" id="m_header_nav">
							<div class="m-stack m-stack--ver m-stack--desktop">

								
								<div class="m-stack__item m-stack__item--fluid">
									<!-- BEGIN: Horizontal Menu -->
									<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
										<i class="la la-close"></i>
									</button>
									<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark "  >
										<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
											<li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
												<a  href="#" class="m-menu__link m-menu__toggle">
													<span class="m-menu__item-here"></span>
													<i class="m-menu__link-icon flaticon-squares"></i>
													<span class="m-menu__link-text">
														Categories
													</span>
													<i class="m-menu__hor-arrow la la-angle-down"></i>
													<i class="m-menu__ver-arrow la la-angle-right"></i>
												</a>
												<div class="m-menu__submenu  m-menu__submenu--fixed-xl m-menu__submenu--center" >
													<span class="m-menu__arrow m-menu__arrow--adjust"></span>
													<div class="m-menu__subnav">
														<ul class="m-menu__content">
															<li class="m-menu__item">
																<h3 class="m-menu__heading m-menu__toggle">
																	<i class="m-menu__link-icon fa fa-futbol-o"></i>
																	<span class="m-menu__link-text">
																		Sports
																	</span>
																	<i class="m-menu__ver-arrow la la-angle-right"></i>
																</h3>
																<ul class="m-menu__inner">
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Football
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Basketball
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Swimming
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Tennis
																			</span>
																		</a>
																	</li>
																	
																	
																</ul>
															</li>
															<li class="m-menu__item">
																<h3 class="m-menu__heading m-menu__toggle">
																	<i class="m-menu__link-icon fa fa-black-tie"></i>
																	<span class="m-menu__link-text">
																		Clothes
																	</span>
																	<i class="m-menu__ver-arrow la la-angle-right"></i>
																</h3>
																<ul class="m-menu__inner">
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="http://localhost:8000/products" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Mens
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Womens
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Kids
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Babies
																			</span>
																		</a>
																	</li>
																	
																	
																</ul>
															</li>
															<li class="m-menu__item">
																<h3 class="m-menu__heading m-menu__toggle">
																	<i class="m-menu__link-icon fa fa-desktop"></i>
																	<span class="m-menu__link-text">
																		IT & Technologies
																	</span>
																	<i class="m-menu__ver-arrow la la-angle-right"></i>
																</h3>
																<ul class="m-menu__inner">
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Laptops
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Phones
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Ipad
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Pc gamer
																			</span>
																		</a>
																	</li>
																	
																	
																</ul>
															</li>
															<li class="m-menu__item">
																<h3 class="m-menu__heading m-menu__toggle">
																	<i class="m-menu__link-icon fa fa-gamepad"></i>
																	<span class="m-menu__link-text">
																		Games
																	</span>
																	<i class="m-menu__ver-arrow la la-angle-right"></i>
																</h3>
																<ul class="m-menu__inner">
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Playstation
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Xbox 360
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				FIFA 2018
																			</span>
																		</a>
																	</li>
																	<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
																		<a  href="inner.html" class="m-menu__link ">
																			<i class="m-menu__link-bullet m-menu__link-bullet--line">
																				<span></span>
																			</i>
																			<span class="m-menu__link-text">
																				Medail of honnor
																			</span>
																		</a>
																	</li>
																	
																	
																</ul>
															</li>

														</ul>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<!-- END: Horizontal Menu -->
								</div>
							</div>
						</div>
						
						<div class="m-stack__item m-stack__item--right">
							<!-- BEGIN: Topbar -->
							<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
								<div class="m-stack__item m-topbar__nav-wrapper">
									<ul class="m-topbar__nav m-nav m-nav--inline">
										<li class="
	m-nav__item m-nav__item--focus m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light" 
	data-dropdown-toggle="click" data-dropdown-persistent="true" id="m_quicksearch" data-search-type="dropdown">
											<a href="#" class="m-nav__link m-dropdown__toggle">
												<span class="m-nav__link-icon">
													<span class="m-nav__link-icon-wrapper">
														<i class="flaticon-search-1"></i>
													</span>
												</span>
											</a>
											<div class="m-dropdown__wrapper">
												<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
												<div class="m-dropdown__inner ">
													<div class="m-dropdown__header">
														<form  class="m-list-search__form">
															<div class="m-list-search__form-wrapper">
																<span class="m-list-search__form-input-wrapper">
																	<input id="m_quicksearch_input" autocomplete="off" type="text" name="q" class="m-list-search__form-input" value="" placeholder="Search...">
																</span>
																<span class="m-list-search__form-icon-close" id="m_quicksearch_close">
																	<i class="la la-remove"></i>
																</span>
															</div>
														</form>
													</div>
													<div class="m-dropdown__body">
														<div class="m-dropdown__scrollable m-scrollable" data-max-height="300" data-mobile-max-height="200">
															<div class="m-dropdown__content"></div>
														</div>
													</div>
												</div>
											</div>
										</li>
										
										<li class="m-nav__item m-nav__item--danger m-dropdown m-dropdown--skin-light m-dropdown--large m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"  >
											<a href="/orders" class="m-nav__link m-dropdown__toggle">
												<span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
												<span class="m-nav__link-icon">
													<span class="m-nav__link-icon-wrapper">
														<i class="flaticon-business" style="color: #f5700d;"></i>
													</span>
												</span>
											</a>
											
										</li>
										<li class="m-nav__item m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
											<a href="#" class="m-nav__link m-dropdown__toggle">
												<span class="m-topbar__username m--hidden-mobile" >
													ilyas
												</span>
												<span class="m-topbar__userpic">
													<img src="/images/pic/IMG_7682.jpg" class="m--img-rounded m--marginless m--img-centered" alt=""/>
												</span>
												<span class="m-nav__link-icon m-topbar__usericon  m--hide">
													<span class="m-nav__link-icon-wrapper">
														<i class="flaticon-user-ok"></i>
													</span>
												</span>
											</a>
											<div class="m-dropdown__wrapper">
												<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
												<div class="m-dropdown__inner">
													<div class="m-dropdown__header m--align-center">
														<div class="m-card-user m-card-user--skin-light">
															<div class="m-card-user__pic">
																<img src="/images/pic/IMG_7682.jpg" class="m--img-rounded m--marginless" alt=""/>
															</div>
															<div class="m-card-user__details">
																<span class="m-card-user__name m--font-weight-500">
																	ilyas jabar
																</span>
																<a href="" class="m-card-user__email m--font-weight-300 m-link">
																	ilyasjabar@gmail.com
																</a>
															</div>
														</div>
													</div>
													<div class="m-dropdown__body">
														<div class="m-dropdown__content">
															<ul class="m-nav m-nav--skin-light">
																<li class="m-nav__section m--hide">
																	<span class="m-nav__section-text">
																		Section
																	</span>
																</li>
																<li class="m-nav__item">
																	<a href="profile.html" class="m-nav__link">
																		<i class="m-nav__link-icon flaticon-profile-1"></i>
																		<span class="m-nav__link-title">
																			<span class="m-nav__link-wrap">
																				<span class="m-nav__link-text">
																					My Profile
																				</span>
																				
																			</span>
																		</span>
																	</a>
																</li>
																<li class="m-nav__item">
																	<a href="profile.html" class="m-nav__link">
																		<i class="m-nav__link-icon flaticon-share"></i>
																		<span class="m-nav__link-text">
																			Activity
																		</span>
																	</a>
																</li>
																<li class="m-nav__item">
																	<a href="profile.html" class="m-nav__link">
																		<i class="m-nav__link-icon flaticon-chat-1"></i>
																		<span class="m-nav__link-text">
																			Messages
																		</span>
																	</a>
																</li>
																<li class="m-nav__separator m-nav__separator--fit"></li>
																
																<li class="m-nav__separator m-nav__separator--fit"></li>
																<li class="m-nav__item">
																	<a href="login.html" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
																		Logout
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!-- END: Topbar -->
						</div>
					</div>
				</div>
			</header>
			<!-- END: Header -->		
								<!-- BEGIN: Left Aside -->
			<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
				<i class="la la-close"></i>
			</button>
			<div id="m_aside_left" class="m-aside-left  m-aside-left--skin-dark ">
				<!-- BEGIN: Aside Menu -->
	<div 
		id="m_ver_menu" 
		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " 
		data-menu-vertical="true"
		 data-menu-scrollable="true" data-menu-dropdown-timeout="500"  
		>
					<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
						<li class="m-menu__section">
							<h4 class="m-menu__section-text">
								Departments
							</h4>
							<i class="m-menu__section-icon flaticon-more-v3"></i>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
							<a  href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-layers"></i>
								<span class="m-menu__link-text">
									Resources
								</span>
								<i class="m-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="m-menu__submenu ">
								<span class="m-menu__arrow"></span>
								<ul class="m-menu__subnav">
									<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" >
										<span class="m-menu__link">
											<span class="m-menu__link-text">
												Resources
											</span>
										</span>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<i class="m-menu__link-bullet m-menu__link-bullet--dot">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Timesheet
											</span>
										</a>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<i class="m-menu__link-bullet m-menu__link-bullet--dot">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Payroll
											</span>
										</a>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<i class="m-menu__link-bullet m-menu__link-bullet--dot">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Contacts
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-suitcase"></i>
								<span class="m-menu__link-text">
									Finance
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover" data-redirect="true">
							<a  href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-graphic-1"></i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Support
										</span>
										<span class="m-menu__link-badge">
											<span class="m-badge m-badge--accent">
												3
											</span>
										</span>
									</span>
								</span>
								<i class="m-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="m-menu__submenu ">
								<span class="m-menu__arrow"></span>
								<ul class="m-menu__subnav">
									<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
										<span class="m-menu__link">
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Support
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--accent">
															3
														</span>
													</span>
												</span>
											</span>
										</span>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<span class="m-menu__link-text">
												Reports
											</span>
										</a>
									</li>
									<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover" data-redirect="true">
										<a  href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__link-text">
												Cases
											</span>
											<i class="m-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="m-menu__submenu ">
											<span class="m-menu__arrow"></span>
											<ul class="m-menu__subnav">
												<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
													<a  href="inner.html" class="m-menu__link ">
														<span class="m-menu__link-text">
															Pending
														</span>
													</a>
												</li>
												<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
													<a  href="inner.html" class="m-menu__link ">
														<span class="m-menu__link-text">
															Urgent
														</span>
													</a>
												</li>
												<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
													<a  href="inner.html" class="m-menu__link ">
														<span class="m-menu__link-text">
															Done
														</span>
													</a>
												</li>
												<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
													<a  href="inner.html" class="m-menu__link ">
														<span class="m-menu__link-text">
															Archive
														</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<span class="m-menu__link-text">
												Clients
											</span>
										</a>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<span class="m-menu__link-text">
												Audit
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-light"></i>
								<span class="m-menu__link-text">
									Administration
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-share"></i>
								<span class="m-menu__link-text">
									Management
								</span>
							</a>
						</li>
						<li class="m-menu__section">
							<h4 class="m-menu__section-text">
								Reports
							</h4>
							<i class="m-menu__section-icon flaticon-more-v3"></i>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-graphic"></i>
								<span class="m-menu__link-text">
									Accounting
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-network"></i>
								<span class="m-menu__link-text">
									Products
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-network"></i>
								<span class="m-menu__link-text">
									Sales
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-alert"></i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Bills
										</span>
										<span class="m-menu__link-badge">
											<span class="m-badge m-badge--danger">
												12
											</span>
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-technology"></i>
								<span class="m-menu__link-text">
									IPO
								</span>
							</a>
						</li>
						<li class="m-menu__section">
							<h4 class="m-menu__section-text">
								System
							</h4>
							<i class="m-menu__section-icon flaticon-more-v3"></i>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
							<a  href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-clipboard"></i>
								<span class="m-menu__link-text">
									Applications
								</span>
								<i class="m-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="m-menu__submenu ">
								<span class="m-menu__arrow"></span>
								<ul class="m-menu__subnav">
									<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" >
										<span class="m-menu__link">
											<span class="m-menu__link-text">
												Applications
											</span>
										</span>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<i class="m-menu__link-bullet m-menu__link-bullet--dot">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Audit
											</span>
										</a>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<i class="m-menu__link-bullet m-menu__link-bullet--dot">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Notifications
											</span>
										</a>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<i class="m-menu__link-bullet m-menu__link-bullet--dot">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Messages
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
							<a  href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-computer"></i>
								<span class="m-menu__link-text">
									Modules
								</span>
								<i class="m-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="m-menu__submenu ">
								<span class="m-menu__arrow"></span>
								<ul class="m-menu__subnav">
									<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" >
										<span class="m-menu__link">
											<span class="m-menu__link-text">
												Modules
											</span>
										</span>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<i class="m-menu__link-bullet m-menu__link-bullet--dot">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Logs
											</span>
										</a>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<i class="m-menu__link-bullet m-menu__link-bullet--dot">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Errors
											</span>
										</a>
									</li>
									<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
										<a  href="inner.html" class="m-menu__link ">
											<i class="m-menu__link-bullet m-menu__link-bullet--dot">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Configuration
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-cogwheel"></i>
								<span class="m-menu__link-text">
									Files
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-lifebuoy"></i>
								<span class="m-menu__link-text">
									Security
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true"  data-redirect="true">
							<a  href="inner.html" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-settings"></i>
								<span class="m-menu__link-text">
									Options
								</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- END: Aside Menu -->
			</div>
			<!-- END: Left Aside -->					
		<!-- begin::Body -->
	                     <div class="m-content" style="margin-top: 60px;">
	                     	 <div style="margin-top: 60px; text-align: center; font-size: 18px; font-style: bold;">
    	                              <p>Your MS Shopping Cart</p>
    	                              <hr style="width: 140px; color: black; size: 20px;">
    	
                             </div>
							
							<dir class="row" style="margin-top: 60px;" >
							  							  	 
                                 
							  	           <% orders.forEach(function(order){ %>
                                               <dir class="col-lg-3 col-md-6" >
							  	   	              <img src="<%= order.image %>" style="height: 160px; width: auto;">
							  	   	              <h5 style="color: #734CEA; margin-top: 10px;"><%= order.product %></h5>
							  	   	     	       <h6  style="color: black; font-size: 11px;">SIZE         : <%= order.size %></h6>
							  	   	                <h6  style="color: black; font-size: 11px;">QUANTITY    : <%= order.q %></h6>
							  	   	                <h6  style="color: black; font-size: 11px;">Total Price : <%= order.price * order.q %> Dhs</h6>
							  	   	             <a  href="/orders/<%= order._id %>/edit" style="text-decoration:none; ">
                                                     <h6 class="edit" style="color: #53b816; font-size: 9px;border:solid 1px  #53b816;
                                                          border-radius: 100px;width:35px;margin-left: 110px;" >EDIT<h6/>
                                                 </a>
							  	   	            <form action="/orders/<%= order._id %>?_method=DELETE" method="POST">

							  	   	            	<button  type="submit" name="submit" class="send2" style="margin-top: -21px;margin-left: 160px;width: 42px;font-size: 9px;font-style: bold;" > 
							  	   	            		DELETE
                                                    </button>
							  	   	            	
							  	   	            </form>
							  	   	            
							  	   	           
							  	             </dir>
	
                                         <% }); %>                


							 </dir>    
                             <div style="margin-top: 60px; text-align: center; font-size: 18px; font-style: bold;">
    	                              <p>Your Informations</p>
    	                              <hr style="width: 80px; color: black; size: 20px;">


    	
                             </div>
                             <form method="POST" action="final.php" style="margin-top: 60px;" >
                            
      <div class="form" >

              

               <div > 
                   <label for="fname" style=" float: center; 
                                              display:block;
                                              margin:0 auto;
                                               width:30%;
                                               margin-top: 15px;color: #734CEA;">First name</label>
                  <input class="date" type="text" name="fname" placeholder="Your first name ..." required>
               </div>
               <div> 
                   <label for="lname" style=" float: center; 
                                              display:block;
                                              margin:0 auto;
                                               width:30%;
                                               margin-top: 25px;color: #734CEA;">Last name</label>
                  <input class="date" type="text" name="lname" placeholder="Your last name ..." required>
               </div>
               <div> 
                   <label for="email" style=" float: center; 
                                              display:block;
                                              margin:0 auto;
                                               width:30%;
                                               margin-top: 25px;color: #734CEA;">E-mail</label>
                  <input class="date" type="text" name="email" placeholder="Your e-mail ..." required>
               </div>
               <div> 
                   <label for="Address" style=" float: center; 
                                              display:block;
                                              margin:0 auto;
                                               width:30%;
                                               margin-top: 25px;color: #734CEA;">Address</label>
                  <input class="date" type="text" name="Address" placeholder="Your Address ..."required>
               </div>
               <div> 
                   <label for="city" style=" float: center; 
                                              display:block;
                                              margin:0 auto;
                                               width:30%;
                                               margin-top: 25px;color: #734CEA;">City</label>
                  <input class="date" type="text" name="city" placeholder="Your City ..."required>
               </div>
               <div> 
                   <label for="tele" style=" float: center; 
                                              display:block;
                                              margin:0 auto;
                                               width:30%;
                                               margin-top: 25px;color: #734CEA;">Tele</label>
                  <input class="date" type="text" name="tele" placeholder="Your phone number ..."required>
               </div>
              <div>
              	 
              	 <p  style=" float: center; 
                                              display:block;
                                              margin:0 auto;
                                               width:30%;
                                               margin-top: 25px; color:  #f5700d; font-size: 12px; ">"Cash on delivery : by default"</p> 
              </div>

             <button class="send" style="width: 200px; margin-left: 38%;" type="submit" name="pay">Make Advance Payment</button>
  
              <button class="send" style="margin-top: -25px;margin-left: 55%;width: 100px" type="submit" name="submit">Confirme</button>
              <div style=" float: center; 
                                              display:block;
                                              margin:0 auto;
                                               width:30%;
                                               margin-top: 25px; color: #734CEA; "><img src="/images/pic/paypal.png" width="300"
                                               height="auto"></div>
      </div>

      

 </form>
							                  

						</div>





			<!-- end:: Body -->
<!-- begin::Footer -->
			
			<!-- end::Footer -->
		
		<!-- end:: Page -->
    		        <!-- begin::Quick Sidebar -->
		
		<!-- end::Quick Sidebar -->		    
	    <!-- begin::Scroll Top -->
		<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
		
		<!-- begin::Quick Nav -->	
    	<!--begin::Base Scripts -->
		<script src="/stylesheets/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/stylesheets/assets/demo/demo9/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/stylesheets/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/stylesheets/assets/app/js/dashboard.js" type="text/javascript"></script>
		<!--end::Page Snippets -->
	</body>
	<!-- end::Body -->
</html>
